@mixin mobile {
	@media screen and (max-width: 678px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: 1023px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 1199px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: 1200px) {
		@content;
	}
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.dark {
	background: #000;
	height: 100vh;
	width: 100%;
}

.active {
	display: block;
}

.hide {
	display: none;
}

.container {
	max-width: 1200px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;

	@include laptop {
		padding-left: 50px;
		padding-right: 50px;
	}
}

.subtitle {
	font-family: "Oswald", sans-serif;
	font-weight: 300;
	font-size: 25px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.page-subtitle {
	color: hsl(36, 100%, 100%);
	span {
		color: hsla(217, 5%, 33%, 0.644);
		margin-right: 15px;
		font-weight: 700;
		letter-spacing: 0px;
		font-family: "Oswald", sans-serif;
		font-size: 27px;

		@include tablet {
			display: none;
		}
	}

	@include tablet {
		padding-left: 8%;
	}

	@include mobile {
		padding-left: 0px;
		text-align: center;
	}
}

.text {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 30px;
	color: hsl(211, 19%, 68%);

	@include mobile {
		font-size: 15px;
		text-align: center;
	}
}

// ==============================================
// ============== Navbar Section ================
// ==============================================
.navbar {
	position: fixed;
	top: 50px;
	left: 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include tablet {
		top: 0px;
	}

	@include mobile {
		top: 50px;
	}

	.logo-container {
		padding: 0px 10%;
		z-index: 1;
	}

	.menubar {
		min-width: 730px;
		width: 55%;
		padding: 30px;
		padding-left: 6%;
		background: hsla(0, 0%, 100%, 0.03);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
		display: flex;
		align-items: center;
		gap: 4%;
		position: relative;

		@include tablet {
			padding-left: 30px;
			width: 500px;
			min-width: 500px;
		}

		@include mobile {
			display: none;
		}

		&::before {
			position: absolute;
			top: 50%;
			right: 96%;
			content: "";
			width: 25vw;
			height: 2px;
			background: hsla(0, 0%, 52%, 0.349);

			@include laptop {
				width: 25%;
			}

			@include tablet {
				display: none;
			}
		}

		li a {
			color: hsl(36, 100%, 100%);
			font-family: "Barlow", sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			padding: 30px 10px;
			span {
				font-weight: 600;
				margin-right: 6px;

				@include tablet {
					display: none;
				}
			}
		}
	}

	.mobile-menubar-container {
		position: relative;
		display: none;

		@include mobile {
			display: block;
		}

		& > button {
			background: transparent;
			margin-right: 30px;
		}

		.mobile-menubar {
			position: absolute;
			top: -40px;
			right: 10px;
			background: hsla(0, 0%, 100%, 0.015);
			backdrop-filter: blur(2px);
			-webkit-backdrop-filter: blur(25px);
			transition: all 0.3s ease-in-out;
			transform: translateX(800px);
			padding: 30px;
			border-radius: 10px;

			button {
				float: right;
				background: transparent;
			}

			.mobile-menu {
				margin-top: 50px;
				display: flex;
				flex-direction: column;
				gap: 10px;
				li a {
					color: hsl(36, 100%, 100%);
					font-family: "Barlow", sans-serif;
					font-weight: 400;
					text-transform: uppercase;
					padding: 5px 10px;
					display: block;

					span {
						font-weight: 600;
						margin-right: 6px;
					}
				}
			}
		}
		.active-mobile-menubar {
			transform: translateX(0px);
		}
	}
	.active-navlink {
		color: hsl(36, 100%, 100%);
		border-bottom: 2px solid hsl(36, 100%, 100%);

		@include mobile {
			background: hsl(36, 100%, 100%);
			border-radius: 8px;
			color: hsl(0, 0%, 0%) !important;
		}
	}
}

// ==============================================
// ================ Home Section ================
// ==============================================

.home {
	background: url(/public/assets/home/background-home-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 150px;
	height: 100vh;
	width: 100%;

	@include tablet {
		background: url(/public/assets/home/background-home-tablet.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 100px;
		height: 100%;
		padding-top: 180px;
	}

	@include mobile {
		background: url(/public/assets/home/background-home-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 200px;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;

		@include tablet {
			flex-direction: column;
			gap: 100px;
		}

		.home-banner {
			max-width: 400px;

			.home-banner-subtitle {
				color: hsl(211, 19%, 68%);

				@include mobile {
					font-size: 20px;
					text-align: center;
				}
			}

			.home-banner-title {
				font-family: "Lustria", serif;
				font-weight: 400;
				font-size: 120px;
				letter-spacing: 3px;
				color: hsl(36, 100%, 100%);
				text-transform: uppercase;
				margin: 20px 0px;

				@include mobile {
					font-size: 100px;
					text-align: center;
				}
			}
		}

		.explore-btn {
			min-width: 250px;
			min-height: 250px;
			border-radius: 50%;
			background: hsl(36, 100%, 100%);
			color: hsl(218, 44%, 22%);
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: "Lustria", serif;
			font-weight: 400;
			font-size: 25px;
			letter-spacing: 3px;
			text-transform: uppercase;
		}
	}
}

// =====================================================
// ================ Destination Section ================
// =====================================================

.destination {
	background: url(/public/assets/destination/background-destination-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 200px;
	height: 100vh;
	width: 100%;

	@include tablet {
		background: url(/public/assets/destination/background-destination-tablet.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 100px;
		padding-top: 180px;
		height: 100%;
	}

	@include mobile {
		background: url(/public/assets/destination/background-destination-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 200px;
		padding-top: 160px;
	}

	.container {
		@include laptop {
			padding-left: 20px;
			padding-right: 20px;
		}

		.planets {
			display: flex;
			align-items: start;
			justify-content: space-between;
			padding-top: 80px;
			gap: 20px;

			@include tablet {
				flex-direction: column;
				align-items: center;
				gap: 60px;
			}

			@include mobile {
				padding-top: 50px;
			}

			.planets-img {
				padding-left: 20px;
				padding-right: 20px;

				@include tablet {
					width: 600px;
				}

				@include mobile {
					width: auto;
				}
			}

			.planets-img img {
				width: 100%;
				height: 100%;
				object-fit: cover;

				@include mobile {
					object-fit: cover;
				}
			}

			.planet-details-container {
				max-width: 500px;
				.planet-btn-container {
					display: flex;
					align-items: center;
					gap: 30px;

					@include mobile {
						justify-content: center;
					}

					.planet-btn {
						padding-bottom: 10px;
						color: hsla(211, 30%, 86%, 0.87);
						border-bottom: 2px solid transparent;
						background: transparent;
						text-transform: uppercase;
						cursor: pointer;
						font-family: "Oswald", sans-serif;
						font-weight: 400;
						font-size: 14px;
						letter-spacing: 3px;
					}

					.active-btn {
						border-bottom-color: hsla(211, 30%, 86%, 0.87);
					}
				}

				.planet-details {
					@include mobile {
						text-align: center;
					}

					.planet-name {
						font-family: "Lustria", serif;
						font-size: 80px;
						font-weight: 400px;
						letter-spacing: 4px;
						color: hsl(36, 100%, 100%);
						text-transform: uppercase;
						padding: 30px 0px;

						@include mobile {
							font-size: 60px;
						}
					}

					.planet-description {
						padding-bottom: 45px;
						border-bottom: 1px solid hsla(217, 5%, 33%, 0.644);
						color: hsla(211, 30%, 86%, 0.87);
					}

					.planet-distance-and-travel-time-container {
						display: flex;
						align-items: center;
						gap: 70px;
						flex-wrap: wrap;
						padding-top: 30px;

						@include mobile {
							justify-content: space-around;
							row-gap: 20px;
						}

						.planet-distance-container,
						.planet-travel-time-container {
							p {
								color: hsla(211, 30%, 86%, 0.87);
								text-transform: uppercase;
								font-family: "Oswald", sans-serif;
								font-size: 13px;
								font-weight: 400;
								letter-spacing: 3px;
							}

							.planet-distance,
							.planet-travel-time {
								color: hsl(36, 100%, 100%);
								letter-spacing: 1px;
								font-family: "Lustria", serif;
								font-size: 27px;
								font-weight: 400px;
								padding-top: 8px;
							}
						}
					}
				}
			}
		}
	}
}

// ==============================================
// ================ Crew Section ================
// ==============================================

.crew {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background: url(/public/assets/crew/background-crew-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 200px;
	min-height: 100vh;
	height: 100%;
	width: 100%;

	@include tablet {
		background: url(/public/assets/crew/background-crew-tablet.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 60px;
		padding-top: 180px;
		height: 100%;
	}

	@include mobile {
		background: url(/public/assets/crew/background-crew-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 180px;
		padding-bottom: 60px;
	}

	.container {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		flex-direction: column;
		height: 100%;
		gap: 20px;

		@include laptop {
			gap: 80px;
		}

		@include mobile {
			padding-left: 20px;
			padding-right: 20px;
			gap: 50px;
		}

		.page-subtitle {
			width: 100%;
		}

		.single-crew {
			height: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			gap: 80px;

			@include laptop {
				gap: 0px;
			}

			@include tablet {
				flex-direction: column-reverse;
				align-items: center;
				justify-content: center;
				gap: 80px;
			}

			@include mobile {
				text-align: center;
			}

			.crew-details-container {
				max-width: 600px;
				
				@include laptop {
					max-width: 50%;
				}

				@include tablet {
					max-width: 100%;
				}

				.crew-details {
					.crew-role {
						font-family: "Lustria", serif;
						font-size: 30px;
						font-weight: 400;
						color: hsla(223, 8%, 66%, 0.702);
						text-transform: uppercase;

						@include mobile {
							font-size: 25px;
						}
					}

					.crew-name {
						width: 100%;
						font-family: "Lustria", serif;
						font-size: 50px;
						font-weight: 400;
						color: hsl(36, 100%, 100%);
						text-transform: uppercase;
						padding-top: 20px;
						padding-bottom: 30px;

						@include mobile {
							font-size: 40px;
						}
					}
				}

				.crew-btn-container {
					padding-top: 150px;
					padding-bottom: 20px;
					display: flex;
					align-items: center;
					justify-content: start;
					gap: 20px;

					@include laptop {
						padding-top: 100px;
					}

					@include tablet {
						padding-top: 50px;
					}

					@include mobile {
						justify-content: center;
					}

					.crew-btn {
						width: 15px;
						height: 15px;
						background: hsla(217, 5%, 33%, 0.644);
						border-radius: 50%;
					}

					.active-crew-btn {
						background: hsl(36, 100%, 100%);
					}
				}
			}

			.crew-img-container {
				width: 500px;
				height: 600px;
				display: flex;
				align-items: flex-end;
				flex: 1;

				@include mobile {
					width: 300px;
				}

				img {
					width: 100%;
					max-height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}

// ====================================================
// ================ Technology Section ================
// ====================================================

.technology {
	background: url(/public/assets/technology/background-technology-desktop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 200px;
	height: 100vh;
	width: 100%;

	@include tablet {
		background: url(/public/assets/technology/background-technology-tablet.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 100px;
		padding-top: 180px;
		height: 100%;
	}

	@include mobile {
		background: url(/public/assets/technology/background-technology-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 200px;
		padding-top: 160px;
	}
}
